
Milestone 1 DE W23 Description.pdf
MET_datasets_alloc.csv
M1 W23 marking rubric.pdf
Data_Integration(additonal).ipynb
.ipynb_checkpoints/template-checkpoint.ipynb
WebScraping_Review_Lab.ipynb
NYC green taxis dataset description.pdf
Milestone 1/green_tripdata_2016-01.csv
Milestone 2/Submission/m2_49-0359_MET_P2_1_2016.zip
Milestone 4/Submission/DE_M4_49-0359_MET_01_2016.zip
Milestone 2/Submission/m2_49-0359_MET_P2_1_2016/data/green_tripdata_2016-01.csv
Milestone 1/Submission/green_tripdata_2016-01_clean.csv
Milestone 1/Submission/green_tripdata_2016-01.csv
Milestone 3/Submission/yellow_tripdata_2016-01.parquet
Milestone 4/Submission/DE_M4_49-0359_MET_01_2016.mkv
Milestone 1/green_tripdata_2016-01_clean.csv
Milestone 2/data/green_tripdata_2016-01.csv
Milestone 2/m2_49-0359_MET_P2_1_2016.zip
Milestone 3/yellow_tripdata_2016-01.parquet
